{% extends "index.jinja" %}
{% block title %}About{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-12">
            <h2>Our Story</h2>
            <p>School project...</p>
        </div>
    </div>
{% endblock %}
