{% extends "index.jinja" %}
{% block title %}Cars{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-2">
            <p>Filters</p>
        </div>
        <div class="col-8">
            <p>The cars and sorting options</p>
        </div>
        <div class="col-2"></div>
        </div>
{% endblock %}
