{% extends "index.jinja" %}
{% block title %}Cars{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-2">
            <p>Filters</p>
        </div>
        <div class="col-10">
            <article class="car">
                <div class="specs">

                </div>
                <div class="order">
                    <button>Order NOW</button>
                </div>
                <div class="moreSpecs">

                </div>
            </article>
        </div>
    </div>
{% endblock %}
