{% extends "index.jinja" %}
{% block title %}Home{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-12">
            <h2>Find your car NOW! AAAAAAAAAA</h2>
            <p>Sjalbais</p>
        </div>
    </div>
{% endblock %}
