<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | {{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% block head%}
        {% endblock %}
    </head>
    <body>
        <header>
            <img id="logo" src="">
            <h1 id="title">{{ title }}</h1>
            <div class="navbar">
                    <p class="navbarItem"><a href="/">Home</a></p>
                    <p class="navbarItem"><a href="/cars">Cars</a></p>
                    <p class="navbarItem"><a href="/about">About</a></p>
            </div>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <div class="col-12">
                <h3>Contact Us</h3>
                <a href="mailto:clarkson@rentalroulette.fr">Send an email</a>
                <a href="tel:12345678">Call support</a>
            </div>
            <div class="col-12" id="disclaimer">
                <p>This website is a result of a university group project, performed in the course IDATA2301 Web technologies, at NTNU. All the information provided here is a result of imagination. Any resemblance with real companies or products is a coincidence.</p>
            </div>
        </footer>
    </body>
</html>
