.car {
    width: 100%;
    max-width: 495px;
    margin: 20px;
    min-width: 250px;
    padding: 0px 24px 24px 24px;
    background-color: var(--foreground-color);
    display: flex;
    justify-content: left;
    flex-direction: column;
    border-radius: var(--corner-rounding);
    box-shadow: 0 0 15px var(--bright-shadow-color);
}

.car strong {
    font-family: 'Raleway', 'sans-serif';
    color: var(--heading-color-dark);
}

.car p {
    margin: 15px 0px 15px 0px;
    font-family: 'Raleway', 'sans-serif';
}

.car-image {
    max-height: 250px;
    width: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--corner-rounding);
}

.car-info {
    display: flex;
    flex-direction: row;
}

.car > h3 {
    color: var(--heading-color-dark);
}

.features {
   border: 2px solid lightgray;
   border-radius: 7px;
   margin: auto;
   margin-bottom: 18px;
   right: 0px;
   padding: 10px;
}

.features > summary {
    font-family: "Raleway";
    color: gray;
    color: gray;
}

.feature {
    font-family: 'Raleway';
}

.orderButtonContainer {
    justify-self: flex-end;
}
