/*
TODO: Remove the margin-right and move it to the container for the home page element
 */

.search-date-from-to{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 625px;
    padding: 20px;
    border-radius: var(--corner-rounding);

    color: var(--heading-color-light);
    background-color: var(--main-color);
    font-family: Raleway, sans-serif;
    list-style-type: none;
}

.search-heading {
    font-weight: bold;
}

/*
.search-date-from-to input {
    border: none;
    outline: none;
}
*/

#from {
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#timeFrom {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#to {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#timeTo {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

@container (width < 575px) {
    .search-date-from-to {
        flex-direction: column;
    }
}
