/*
TODO: Remove the margin-right and move it to the container for the home page element
 */

.search-date-from-to{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 525px;
    padding: 20px;
    border-radius: var(--corner-rounding);

    color: var(--heading-color-light);
    background-color: var(--main-color);
    font-family: Raleway, sans-serif;
    list-style-type: none;
}


@container (width < 500px) {
    .search-date-from-to {
        flex-direction: column;
    }
}
