.filter {
    background-color: var(--foreground-color);
    border-radius: var(--corner-rounding);
    margin: 20px;
    padding-bottom: 12px;
}
.filter-header {
    text-align: center;
    border-radius: var(--corner-rounding);
    background-color: var(--main-color);
    color: var(--heading-color-light);
    padding: 10px;
    margin-bottom: 10px;
}

.filter-body {
    padding: 10px;
}

.filter-item {
    margin-bottom: 10px;
}

.category-name {
    font-weight: bold;
    cursor: pointer;
}

.price-range input {
    width: 50px;
    margin-right: 5px;
}

li {
    list-style-type: none;
}

