
#footer-content{
    padding: 10px;
}


#contactHeading {
    color: var(--heading-color-light);
}

footer{
    background-color: var(--main-color);
}

.footer-icon{
    width: 50px;
    margin: 10px;
}

#disclaimer { 
    padding: 10px;
    background-color: #730000;
}
#disclaimer > p {
    font-size: 125%;
    color: var(--heading-color-light);
}

.address-container {
    display: flex;
    flex-direction: column;
}

#address-header{
    color: var(--heading-color-light);
}

#address-street{
    font-size: 1.25rem;
    color: var(--heading-color-light);
    margin: 10px 0;
}

#address-city{
    font-size: 1.25rem;
    color: var(--heading-color-light);
    margin: 10px 0;
}