@import "./columnLayout.css";


:root {
    /*--main-color: #696969;*/
    /*--main-color: #495057;*/
    --main-color: #293037;
    --foreground-color: #f1f1f1;
    --heading-color-dark: #495057;
    --heading-color-light: #f8f9fa;
    --filter-color: #343a40;
    --text-color: #222;
    --bold-text-color: #111;
    --corner-rounding: 12px;
    --dark-shadow-color: #222;
    --button-color: #37acb9;
    --link-color: #f1f1f1;
}


#title { 
    color: var(--heading-color-light); 
    font-family: Anton;
    font-style: italic;
    text-shadow: 5px 5px black;
    margin: 20px;
}
#disclaimer { 
    background-color: orangered;
    color: white;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--foreground-color);
    margin: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}



.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 20px;
}

.navbar-item {
    font-family: Raleway;
    font-size: 125%;
    background-color: var(--main-color);
    flex-grow: 1;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    padding: 16px;
}

.navbar-item:hover {
    background-color: white;
    color: black;
    padding: 16px;
}

#home {
    height: 500px;
    background-image: url(https://imgs.search.brave.com/RlAxmVxi2QB7xGa_ifz5YzAKA9Mn8sQxglf942zCHL8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMxLmhvdGNhcnNp/bWFnZXMuY29tL3dv/cmRwcmVzcy93cC1j/b250ZW50L3VwbG9h/ZHMvMjAyNC8wOS9j/bGFya3Nvbi5qcGc);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 100px black inset;
}

#callToAction {
    margin: 100px;
}

h1,h2,h3,h4,h5 {
    font-family: Raleway;
}

h2 {
    font-size: 275%;
}

#callToAction > h2 {
    color: var(--heading-color-light);
    text-shadow: 2px 2px 20px var(--dark-shadow-color);
}

a {
    font-family: Raleway;
    padding: 20px;
    font-size: 125%;
}

button {
    outline: none;
    border-style: none;
    background-color: var(--button-color);
    font-family: Raleway;
    font-size: 125%;
    padding: 20px;
}

#callToAction > button {
    color: var(--heading-color-light);
    box-shadow: 0px 0px 20px var(--dark-shadow-color);
    border-radius: 7px;
}

img {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}
.img-text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
}

p {
    color: var(--text-color);
}

strong {
    color: var(--bold-text-color);
}

summary {
    color: var(--filter-color);
}

#footer-content{
    padding: 30px;
}

header{
    background-color: var(--main-color);
    background-image: linear-gradient(90deg, #111, var(--main-color));
    color: white;
    padding: 10px;
}

#contactHeading {
    color: var(--heading-color-light);
}

footer{
    background-color: var(--main-color);
}
