@import "./header.css";
@import "./footer.css";
@import "./columnLayout.css";
@import "./order.css";


:root {
    /*--main-color: #696969;*/
    /*--main-color: #495057;*/
    --main-color: #293037;
    --navbar-item-color: #394047;
    --foreground-color: #f1f1f1;
    --heading-color-dark: #495057;
    --heading-color-light: #f8f9fa;
    --filter-color: #343a40;
    --text-color: #222;
    --bold-text-color: #111;
    --corner-rounding: 12px;
    --dark-shadow-color: #222;
    --bright-shadow-color: #BBB;
    /*--button-color: #37acb9;*/
    --button-color: #0f7c89;
    --link-color: #f1f1f1;
    --dark-link-color: #222;
}

body {
    background-color: var(--foreground-color);
    margin: 0;
    font-size: 100%;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

figure > img {
    width: 100%;
    max-width: 500px;
    min-width: 330px;
    height: auto;
}


main > div > div > section {
    padding-left: 100px;
    padding-right: 100px;
}


#home {
    height: auto;
    background-image: url(https://imgs.search.brave.com/RlAxmVxi2QB7xGa_ifz5YzAKA9Mn8sQxglf942zCHL8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMxLmhvdGNhcnNp/bWFnZXMuY29tL3dv/cmRwcmVzcy93cC1j/b250ZW50L3VwbG9h/ZHMvMjAyNC8wOS9j/bGFya3Nvbi5qcGc);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 100px black inset;
}


h1,h2,h3,h4,h5 {
    font-family: Raleway, sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

#callToAction {
    container-type: inline-size;

    padding: 120px 25px;
}

#jeremy-header {
    color: var(--heading-color-light);
    text-shadow: 2px 2px 20px var(--dark-shadow-color);
}

button {
    outline: none;
    border-style: none;
    background-color: var(--button-color);
    font-family: Raleway, sans-serif;
    font-size: 1.25rem;
    padding: 20px;
    color: var(--heading-color-light);
    border-radius: 7px;
}

img {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}
.img-text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
}

p {
    color: var(--text-color);
    font-size: 1.5em;
}

strong {
    color: var(--bold-text-color);
}

summary {
    color: var(--filter-color);
}


.bright-link {
    display: inline-block;
    color: var(--link-color);
}

.dark-link {
    display: inline-block;
    color: var(--dark-link-color);
}

button > a {
    display: inline-block;
    color: var(--link-color);
    text-decoration: none;
}

label:not(li label) {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
label:not(li label)>span {
    margin: 5px 0;
    transition: all .2s;
    transform-origin: top left;
}
label:not(li label) > input[placeholder=" "]:not(:focus):placeholder-shown + span {
    transform: translateY(1em) scale(1.25);
    pointer-events: none;
    opacity: .5;
}

.price-range {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    /*
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    */
}

.price-range > input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: var(--button-color);
    pointer-events: none;
}

.price-range > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--button-color);
    height: 2rem;
    width: 1rem;
    border-radius: var(--corner-rounding);
    cursor: pointer;
    pointer-events: all;
}
.price-range > input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: var(--corner-rounding);
    background-color: var(--button-color);
    height: 2rem;
    width: 1rem;
    cursor: pointer;
    pointer-events: all;
}

#provider-container{
    background-color: var(--foreground-color);
}

.button-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.button-container > button {
    align-self: flex-start;
}

.button-container-end{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.button-container-end > button {
    align-self: flex-end;
}

.scrollable-list {
    overflow-y: auto;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.owned-car{
    border: 1px solid var(--main-color);
    padding: 10px;
}

.owned-car:nth-child(odd) {
    background-color: #f9f9f9; /* Light color for odd items */
}

.owned-car:nth-child(even) {
    background-color: #e0e0e0; /* Slightly darker color for even items */
}

.flex-container-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-container-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-end-item {
    align-self: flex-end;
}

.review-box {
    padding: 10px;
}

#search-date-div{
    min-width: 210px;
}

#car-controls {
    max-width: 545px;
}

#car-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
