.order {
    border: 1px solid var(--main-color);
    padding: 10px;
}

.order:nth-child(odd) {
    background-color: #f9f9f9; /* Light color for odd items */
}

.order:nth-child(even) {
    background-color: #e0e0e0; /* Slightly darker color for even items */
}
#order-list {
    padding: 20px;
}

.order > div > h4{
    margin: 0;
}

.order > .button-container {
    display: flex;
    justify-content: flex-end;
}

.order > div > button{
    padding: 2px 5px;
}