.search-date-from-to{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 50px;
    max-width: 525px;
    padding: 20px;

    color: var(--heading-color-light);
    background-color: var(--main-color);
    font-family: Raleway, sans-serif;
    list-style-type: none;
}


@media screen and (max-width: 500px) {
    .search-date-from-to {
        flex-direction: column;
    }
}
