.mypage-background {
    background-color: lightgray;
    min-height: 63vh;
}

#username-heading {
    word-break: keep-all; /* Avoid breaking CJK text */
    overflow-wrap: break-word;
    hyphens: auto;
}

#settings-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

