.mypage-background {
    background-color: lightgray;
    min-height: 63vh;
}

#username-heading {
    line-break: anywhere;
    word-break: break-all;
}

#settings-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

