.car-edit {
    padding: 25px;
    border-radius: var(--corner-rounding);
    background-color: white;
}

.car-edit-property-heading {
    color: var(--heading-color-dark);
    font-family: var(--main-font);
    font-weight: bold;
}

.car-edit-property-input {
    padding: 10px;
    border-radius: var(--corner-rounding);
    border-width: 0px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    outline: none;
    background-color: rgb(239, 239, 239);
    color: #111;
}

select[multiple].car-edit-property-input {
    box-shadow: 0px -5px 10px lightgray inset;
}

select[multiple].car-edit-property-input > option {
    padding: 5px;
}

.car-edit-property-input::-webkit-scrollbar {
    display: none;
}

#car-edit-multi-select {
    font-family: var(--main-font);
}
