
.searchable-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    box-sizing: border-box;
    border-width: 0px;
    outline: none;
    background-color: var(--main-color);
    font-family: var(--main-font); 
    color: white;
}

.searchable-input::placeholder {
    color: var(--heading-color-light);
}

.searchableFieldTable {
    table-layout: auto;
    width: 100%;
}

.searchableFieldTableHeading {
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    background-color: var(--main-color);
    color: var(--heading-color-light);
    font-family: var(--main-font);
    word-break: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: normal;
    text-decoration: none;
    hyphens: auto;
}

.searchableFieldTableRow {
    padding: 10px;
    border: 0px solid var(--main-color);
    border-radius: 2px;
    font-family: var(--main-font);
}

.searchableFieldTable td {
    word-break: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: normal;
    text-decoration: none;
    hyphens: auto;
}

.searchableFieldTable tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.searchableFieldTable tr:nth-child(even) {
    background-color: #e0e0e0; 
}

.searchableFieldTable thead {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.searchableFieldTable thead tr th:first-child {
    border-top-left-radius: 10px;
}

.searchableFieldTable thead tr th:last-child {
    border-top-right-radius: 10px;
}

.searchableFieldTable tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
    
.searchableFieldTable tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 600px) {
    .searchableFieldTable {
        display: block;
        width: 100%;
    }

    td {
        display: block;
        width: 100%;
        margin-bottom: 4px;
    }

    .searchableFieldTable thead {
        display: none;
    }

    .searchableFieldTable tbody {
        display: block;
    }

    .searchableFieldTable tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        border: 1px solid var(--main-color);
        border-radius: 12px;
        padding: 10px;
    }

    .searchableFieldTable tbody tr td {
        border-bottom: 1px solid var(--main-color);
    }

    .searchableFieldTable tr td:last-child {
        border-bottom: none;
    }

    .searchableFieldTableRow {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }

    .searchableFieldTableRow::before {
        content: attr(data-header);
        font-weight: bold;
        margin-right: 10px;
    }
}

