
main > div > div > section {
    padding-left: 100px;
    padding-right: 100px;
}


#home {
    height: auto;
    background-image: url(https://imgs.search.brave.com/RlAxmVxi2QB7xGa_ifz5YzAKA9Mn8sQxglf942zCHL8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMxLmhvdGNhcnNp/bWFnZXMuY29tL3dv/cmRwcmVzcy93cC1j/b250ZW50L3VwbG9h/ZHMvMjAyNC8wOS9j/bGFya3Nvbi5qcGc);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 100px black inset;
}

#callToAction {
    container-type: inline-size;

    padding: 120px 25px;
}

#jeremy-header {
    color: var(--heading-color-light);
    text-shadow: 2px 2px 20px var(--dark-shadow-color);
}

